* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.team-card {
    margin: 10px;
    background-color: black;
    color: white;
}

h1 {
    margin-bottom: 40px;
    color: #e53170;
    text-align: center;
}

.section-description {
    margin-bottom: 40px;
    text-align: center;
}

.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-card {
    display: flex;
    align-items: center;
    width: 350px;
}

.card-image img {
    width: 100px;
    display: block;
}

.card-text {
    margin-left: 20px;
}

.card-text h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-text p {
    margin-bottom: 10px;
}

.card-text :last-child {
    color: #6bcaee;
}