* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    min-width: 350px;
    height: 500px;
    font-family: sans-serif;
}

.team-card {
    margin: 10px;
    background-color: black;
    color: white;
}

h1 {
    margin-bottom: 40px;
    color: #e53170;
    text-align: center;
}

.section-description {
    margin-bottom: 40px;
    text-align: center;
}

.card-text :last-child {
    color: #6bcaee;
}